* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "futura-100", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(109, 32, 32);
    background-color: #f8f5ef;
}

.container {
    padding-left: 8%;
    padding-right: 8%;
    width: 100%;
}

/* NAVBAR */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 110px;
}

.logo {
    font-size: 40px;
    font-weight: bold;
}

.menu {
    display: flex;
    list-style: none;
    gap: 30px;
}

.menu a {
    font-size: 28px;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.menu a:hover {
    opacity: 0.6;
}

/* HERO IMAGE */

.hero-image {
    padding-top: 2%;
    padding-bottom: 1%;
}

.hero-image img {
    width: 100%;
    height: auto;
    display: block;
}

/* TESTO PROGETTO */

.project-info {
    background-color: #f8f5ef;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 340px;

    padding-top: 0px;
    padding-bottom: 0px;

    margin-top: 10px;
    margin-bottom: 20px;
}

.project-title h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 1.3;
}

.project-text p {
    font-family: "futura-100", sans-serif;
    font-size: 28px;
    line-height: 1.4;
    max-width: 750px;
    margin-bottom: 15px;
}

.project-meta {
    margin-top: 5px;
}

.project-meta p {
    font-size: 14px;
    line-height: 1.5;

    color: rgba(90, 26, 26, 0.8);

    font-weight: 100;
    margin-bottom: 5px;
}

/* GALLERY */

.project-gallery {
    padding-bottom: 1%;
}

.gallery-two {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin-bottom: 24px;
}

.gallery-item {
    aspect-ratio: 4 / 3;
    overflow: hidden;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* immagine grande sotto */

.gallery-full {
    width: 100%;
    margin-bottom: 24px;
}

.gallery-full img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 24px;
}

/* RESPONSIVE */

@media (max-width: 768px) {
    .gallery-two {
        grid-template-columns: 1fr;
    }
}

/* RESPONSIVE */

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .project-info {
        grid-template-columns: 1fr;
        gap: 25px;
    }

    .project-gallery {
        grid-template-columns: 1fr;
    }
}