* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
}

.container {
    padding-left: 8%;
    padding-right: 8%;
    width: 100%;
    height: 30%;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 110px;  /* altezza minima */
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.menu {
    display: flex;
    list-style: none;
    gap: 30px;
    
}

.menu a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.menu a:hover {
    opacity: 0.6;
}



.image-container img {
    width: 100%;
    height: auto;
    display: block;
    padding-top: 2%;
    padding-bottom: 2%;
}