* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "futura-100", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(109, 32, 32);
    background-color: #f8f5ef;
}

.container {
    padding-left: 8%;
    padding-right: 8%;
    width: 100%;
}

/* NAVBAR */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 110px;
}

.logo {
    font-size: 40px;
    font-weight: bold;
}

.menu {
    display: flex;
    list-style: none;
    gap: 30px;
}

.menu a {
    font-size: 28px;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.menu a:hover {
    opacity: 0.6;
}

/* IMMAGINI HOME */

.image-wrapper {
    position: relative;
    overflow: hidden;
    margin-top: 1%;
    margin-bottom: 5%;
    display: block;
    text-decoration: none;
}

.image-wrapper img {
    width: 100%;
    display: block;

    transition: transform 0.4s ease, opacity 0.4s ease;
}

.image-wrapper:hover img {
    transform: scale(1.02);
}

.image-wrapper::after {
    content: "";
    position: absolute;
    inset: 0;

    background: linear-gradient(
        to top,
        rgba(0,0,0,0.45),
        rgba(0,0,0,0)
    );

    opacity: 0;
    transition: opacity 0.35s ease;

    pointer-events: none;
}

.image-wrapper:hover::after {
    opacity: 1;
}

.image-title {
    position: absolute;
    left: 30px;
    bottom: 30px;

    color: white;
    font-size: 22px;

    opacity: 0;
    transform: translateY(10px);

    transition: all 0.35s ease;

    z-index: 2;
}

.image-wrapper:hover .image-title {
    opacity: 1;
    transform: translateY(0);
}

/* RESPONSIVE */

@media (max-width: 768px) {

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;

        padding-top: 20px;
        padding-bottom: 20px;
    }

    .image-title {
        font-size: 18px;
        bottom: 30px;
    }
}