* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
}

header {
    height: 50%;

}
/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between; /* sinistra - destra */
    align-items: center;
    padding: 20px 40px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.menu {
    display: flex;
    list-style: none;
    gap: 30px;
}

.menu a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.menu a:hover {
    opacity: 0.6;
}

/* IMMAGINI */
.image-container {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
    height: 30%;
}

.image-container img {
    width: 100%;
    height: fit;
    
    display: block;
}